<%- include('../common/partials/header') -%>
<section class='page-controls container-wrapper'>
    <div class='container'>
        <h3 class='page-title'>grp.space/at/<%= room %></h3>
        <div class='page-actions'>
            <button class='page-action'>Action 1</button>
            <button class='page-action'>Action 2</button>
            <button class='page-action'>Action 3</button>
        </div>
        <span class='clearfix'></span>
    </div>
</section>

<section class='container-wrapper'>
    <div class='app-content container'>


        <%- include('../partials/video.ejs') -%>
        <%- include('../partials/chat.ejs') -%>

    </div>
</section>
<%- include('../common/partials/footer', { scripts : [
    '/js/common.js',
    '/js/chat.js',
    '/js/room.js'
]}) -%>
